<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sales_email>
            <order>
                <!-- Use our custom order confirmation template for both guests and logged-in customers -->
                <template>softcode_order_new</template>
                <guest_template>softcode_order_new</guest_template>
                <enabled>1</enabled>
            </order>
        </sales_email>
    </default>
</config>
